@import "../../assets/styles/styles";

.calendar {
  width: 100%;
  border-radius: 5px;
  text-transform: capitalize;
  background-color: $gray500;
}

.calendarHeader {
  position: relative;
  border-radius: 5px 5px 0 0;
  background-color: $blueDark;
  color: $gray100;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.2);
}

.calendarHeaderArrowLeft {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("assets/icon/arrow_white.svg");
}

.calendarHeaderArrowRight {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("assets/icon/arrow_white.svg");
  transform: rotate(-180deg);
}

.calendarBody {
  border-radius: 0 0 5px 5px;
  padding: 5px;
}

.calendarWeekNames {
  height: 20px;
  font-weight: 600;
  font-size: 8px;
  color: $blue;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px 1px;
}

.calendarDays {
  font-size: 10px;
  font-weight: 400;
  color: $gray100;
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  gap: 1px 1px;
}

.calendarDay {
  border-radius: 5px;
  padding: 5.5px 0;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  &:hover {
    background-color: $blue;
  }

  &.calendarEventDay {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 3px;
      right: 3px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: red;
    }
  }
}

.calendarAdditionalDay {
  padding: 5.5px;
  font-weight: 300;
  cursor: pointer;
  color: $gray300;
}

.calendarPickItem {
  padding: 9px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;

  &:hover {
    background-color: $blue;
  }
}

.calendarTodayItem {
  background-color: $gray400;
}

.calendarSelectedItem {
  color: $gray100;
  background-color: $blueDark;
  transition: all ease-in-out 0.3s;

  &:hover {
    background-color: $blue;
  }
}

.calendarPickItemsContainer {
  font-weight: 400;
  color: $gray100;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1px 1px;
  font-size: 12px;
}

.calendarUnchoosableYear {
  font-weight: 300;
  padding: 9px 16px;
  color: rgba(255, 255, 255, 0.5);
}
