@import "../../../assets/styles/styles";

.def{
  display: inline-flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: $blueDark;
  transition: all ease-in-out 0.3s;

  span{
    color: $gray100;
  }

  &:hover{
    background-color: $blue;
  }
}
