@import "assets/styles/styles";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 30%;
  min-height: 50px;
  border-radius: 8px;
  padding: 20px;
  gap: 8px;
  background-color: $gray500;

  span{
    font-size: $bigSize;
    font-weight: $bold;
  }
}

.selectContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  padding: 4px 8px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  background-color: $gray400;
  border-radius: 4px;

  &:hover{
    background-color: $blue;
  }
}

.selectedOption {
  padding: 4px 8px;
  background-color: $blueDark;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border-radius: 4px;

  &:hover{
    background-color: $blue;
  }
}
