@import 'assets/styles/styles';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-height: 100vh;
  position: relative;

  .newTask {
    position: absolute;
    top: 173px;
    margin: 0 auto;
    display: flex;
    width: 736px;
    align-items: center;
    gap: 8px;

    .error {
      color: $danger;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: $gray700;

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 12px;
      flex-shrink: 0;
      width: 126px;
      height: 48px;

      h1 {
        font-size: 40px;
        font-weight: 900;
        color: $blue;

        span {
          font-size: 40px;
          font-weight: 900;
          color: $purpleDark;
        }
      }
    }
  }

  .main {
    margin-top: 91px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 736px;
    height: 100%;
    z-index: 9999;
  }
}
